@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components
@using global::Localization.Resources.AbpUi
@using Microsoft.Extensions.Options

@inherits AbpComponentBase
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject IStringLocalizer<AbpUiResource> UiLocalizer
@inject IOptions<AuthenticationOptions> AuthenticationOptions
@inject IOptions<AbpAspNetCoreComponentsWebOptions> AbpAspNetCoreComponentsWebOptions

<AuthorizeView>
    <Authorized>
        <MudMenu Dense="true">
            <ActivatorContent>
                <MudButton Class="abp-appbar-text" Color="Color.Inherit">
                    @if (CurrentTenant.Name != null)
                    {
                        <span><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
                    }
                    else
                    {
                        <span>@CurrentUser.UserName</span>
                    }
                </MudButton>
            </ActivatorContent>
            <ChildContent>
                @if (Menu != null)
                {
                    @foreach (var menuItem in Menu.Items)
                    {
                        <MudMenuItem OnClick="@((MouseEventArgs _) => NavigateToAsync(menuItem.Url, menuItem.Target))">
                            @menuItem.DisplayName
                        </MudMenuItem>
                    }
                }
                <MudDivider />
                <MudMenuItem OnClick="@((MouseEventArgs _) => BeginSignOut())">@UiLocalizer["Logout"]</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="@AuthenticationOptions.Value.LoginUrl" Class="abp-appbar-text" Color="Color.Inherit">@UiLocalizer["Login"]</MudButton>
    </NotAuthorized>
</AuthorizeView>
